<!-- 投稿内容を表示 -->
<div class="image text-center">
  <%= attachment_image_tag(train, :train_image, height: "500px", width: "70%", fallback: "no_image.jpg") %>
</div>
<div class="col-sm-8 mx-auto">
  <table class="train-info">
    <tr>
      <th>会社</th>
      <td>　</td>
      <td><%= train.company %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td>　</td>
      <td><%= train.body %></td>
    </tr>
  </table>
</div>
