<!-- フォロー一覧画面 -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <h1 class="heading">フォロー一覧</h1>

      <!-- フォローしている時としていない時の表示 -->
      <div class="follows">
        <% if @users.empty? %>
          <h3 class="no-followers text-center">ユーザはいません</h3>
        <% else %>
          <%= render 'relationships/index', users: @users %>
        <% end %>

        <!-- ページング -->
        <div class="pagination mx-auto">
          <%#= paginate @trains %>
          <%#= link_to_prev_page @trains, '前のページ', class: "prev" %>
          <%= link_to_next_page @users, '次のページ', class: "next" %>
        </div>
      </div>
    </div>
  </div>
</div>