<!-- コメントを表示 -->
<% @train.train_comments.each do |train_comment| %>
  <tr>
    <td class="font-weight-bold"><%= train_comment.user.name %></td>
    <td>　</td>
    <td><%= train_comment.comment %></td>
    <% if train_comment.user == current_user %>
      <td><%= link_to '削除', train_train_comment_path(train_comment.train_id, train_comment.id), method: :delete, remote: true, class: "btn btn-sm btn-danger" %></td>
    <% end %>
  </tr>
<% end %>
<div class="error"></div>
