<section id="image-sliders">
  <div id="train-images">
    <div class="train-image1"></div>
    <div class="train-image2"></div>
    <div class="train-image3"></div>
    <div class="train-image4"></div>
    <div class="train-image5"></div>
    <div class="train-image6"></div>
    <div class="train-image7"></div>
    <div class="train-image8"></div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <section class="about">
        <h1 class="about-title">鉄分とは？</h1>
        <div class="about-body">
          <p>ここでは人間に必要なあの鉄分ではなく、</p>
          <p>「鉄道に支えられている部分や、割合あるいは充実度」を表す言葉の略語である、「<strong>鉄分</strong>」を指します。</p>
          <p>とは言いながらも、当サイトは鉄道ファン / 非鉄道ファン問わず、</p>
          <p>このご時世で外出が難しくなった中でも鉄道を楽しみたいという方の為に、</p>
          <p>少しでも尽力できればいいなと考えております。</p>
          <p>どうかこの「<strong>鉄分</strong>」を楽しんでください。</p>
        </div>
      </section>
      <section class="new-train-posts">
        <h1 class="heading">新着投稿</h1>
        <div class="d-flex flex-row flex-wrap">
          <%= render 'homes/new-trains', train: @train %>
        </div>
      </section>
      <section class="link mx-auto text-center">
        <%= link_to '投稿一覧ページへ', trains_path, class: 'btn btn-primary' %>
      </section>
    </div>
  </div>
</div>