<table>
  <% entries.each do |entry| %>
    <tr>
      <h5><strong><a href="/users/<%= entry.user.id %>"><%= entry.user.name %>さん</a></strong></h5>
    </tr>
    <tr>
      <h5>　</h5>
    </tr>
  <% end %>
</table>