<!-- チャット画面 -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <h1 class="heading">チャット</h1>
      <div class="chat">
        
        <!-- チャット部屋のユーザを表示 -->
        <div class="chat-users">
          <%= render 'rooms/chat-users', entries: @entries %>
        </div>
        
        <!-- メッセージを表示 -->
        <div class="chat-messages">
          <%= render 'messages/messages', messages: @messages %>
        </div>
      </div>

      <!-- メッセージ送信フォーム -->
      <section class="message-form">
        <%= render 'messages/message-form', message: @message %>
      </section>
    </div>
  </div>
</div>




