<!-- チャット画面 -->
<div class="container">
  <div class="row">
    <div class="chat-background col-sm-12 mx-auto">

      <!-- メッセージを表示 -->
      <div class="chat-messages">
        <%= render 'messages/messages', messages: @messages %>
      </div>

      <!-- 自分のチャットリスト一覧を表示 -->
      <div class="chat-lists mx-auto">
        <%= render 'rooms/list', rooms: @rooms %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="top-link col-sm-12 mx-auto text-center">
      <%= link_to 'チャットルーム一覧へ戻る', rooms_path(current_user), class: "btn btn-secondary" %>
    </div>
  </div>
</div>