<script type="text/javascript">
  $(document).ready(function(){
  	$(window).on("load",function(){
  		$('html,body').animate(
        { scrollTop: $('html,body').get(0).scrollHeight }
      );
    });
    $(window).on('keypress',function(e){
      if(e.keyCode === 13){
      	$('html,body').animate(
          { scrollTop: $('html,body').get(0).scrollHeight }
      	 );
      }
    });
  });
</script>

<!-- チャット画面 -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="heading">チャットルーム</h1>

      <!-- チャット部屋のユーザを表示 -->
      <div class="chat-users">
        <%= render 'rooms/chat-users', entries: @entries %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="chat-background col-sm-12 mx-auto">

      <!-- メッセージを表示 -->
      <div class="chat-messages">
        <%= render 'messages/messages', messages: @messages %>
      </div>

      <!-- メッセージ送信フォーム -->
      <section class="message-form">
        <%= render 'messages/message-form', message: @message %>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="top-link col-sm-12 mx-auto text-center">
      <%= link_to 'チャットルーム一覧へ戻る', rooms_path(current_user), class: "btn btn-secondary" %>
    </div>
  </div>
</div>




