<script type="text/javascript">
  $(document).ready(function(){
  	$(window).on("load",function(){
  		$('html,body').animate(
        { scrollTop: $('html,body').get(0).scrollHeight }
      );
    });
    $(window).on('keypress',function(e){
      if(e.keyCode === 13){
      	$('html,body').animate(
          { scrollTop: $('html,body').get(0).scrollHeight }
      	 );
      }
    });
  });
</script>
<!-- チャット画面 -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="heading">チャットルーム</h1>
      </div>
  </div>

  <div class="row">
    <div class="chat-background col-12 mx-auto">

      <!-- 自分のチャットリスト一覧を表示 -->
      <div class="chat-lists col-4">
        <%= render 'rooms/list', rooms: @rooms %>
      </div>

      <!-- メッセージを表示 -->
      <div class="chat-messages col-8">
        <%= render 'messages/messages', messages: @messages %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="top-link col-sm-12 mx-auto text-center">
      <%= link_to 'チャットルーム一覧へ戻る', rooms_path(current_user), class: "btn btn-secondary" %>
    </div>
  </div>
</div>