// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-icon .profile_image {
 border-radius: 100%;
}

.message-form {
  text-align: center;
}

.opponent-user {
  color: #fff;
}

.error #error_explanation {
  color: black;
}