// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-message {
  min-height: 55vh;
  text-align: center;
  margin: 40px 0;
  font-family: 'Kosugi Maru', sans-serif;
}

.message-form {
  margin: 30px 0;
}

.chat-rooms {
  margin: 30px 0;
}

.card-deck {
  margin-top: 20px;
}

.card-name {
  margin-bottom: 5px;
  font-family: 'Kosugi Maru', sans-serif;
}

.card-message {
  margin-bottom: 5px;
  font-family: 'Kosugi Maru', sans-serif;
}

.chat-background {
  margin: 30px 0;
}

.chat-lists {
  background-color: #fff;
  width: 800px;
  overflow-x: scroll
}

.list {
  list-style: none;
  margin-left: -30px;
  display: flex;
}

.chat-user {
  height: 60px;
  min-width: 150px;
  margin: auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-user .profile_image {
  border-radius: 100%;
  margin-right: 10px;
}

.chat-user-name {
  margin-right: 10px;
}

.chat-messages {
  width: 100%;
  background-color: #66ccff;
}

.top-link {
  margin-bottom: 40px;
}

.chat {
  margin: 20px 0;
}

.chat-users {
  display: flex;
}

.messages {
  margin: 20px 0;
}

.right-message {
  text-align: right;
}

.right-link {
  text-align: right;
  margin-bottom: 10px;
  margin-right: 5px;
}

.balloon-right {
  display: inline-block;
  position: relative;
  margin: 5px 0 10px 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
}

.balloon-right strong {
  text-align: left;
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px；
}

.balloon-right:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.left-message {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.left-message .chat-icon {
  float: left;
  margin-top: 5px;
  margin-right: -50px;
  margin-left: 5px;
  width: 40px;
}

.left-message .profile_image {
  width: 100%;
  height: auto;
}

.balloon-left {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 60px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.balloon-left:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.balloon-left strong {
  margin: 0;
  padding: 0;
}

.messsage-submit-btn {
  margin: 30px 0;
}

.chat-rooms {
  min-height: 60vh;
}
