// Place all the styles related to the trains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.links {
  margin-top: 20px;
  margin-bottom: 30px;
}

.train-info {
  margin: 30px 0;
}

.train-comments {
  margin-bottom: 30px;
}

.comment-form {
  margin-bottom: 40px;
}