// Place all the styles related to the trains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.links {
  margin-top: 20px;
  font-family: 'Kosugi Maru', sans-serif;
}

.train-index {
  margin: 40px 0;
}

.card-deck {
  width: 25%;
  transition: all 0.3s ease 0s;
}

.card-deck:hover {
  transform: scale(1.1, 1.1);
}

.d-flex {
  margin-top: 20px;
}

.card-name {
  margin-bottom: 5px;
  font-family: 'Kosugi Maru', sans-serif;
}

.card-train-line {
  margin-bottom: 5px;
  font-family: 'Kosugi Maru', sans-serif;
}

.card-train-body {
  font-family: 'Kosugi Maru', sans-serif;
}

.image {
  margin-top: 20px;
  font-family: 'Kosugi Maru', sans-serif;
}

.train-info {
  margin: 30px 0;
  font-family: 'Kosugi Maru', sans-serif;
}

.table {
  font-family: 'Kosugi Maru', sans-serif;
}

.train-comments {
  margin-bottom: 30px;
  font-family: 'Kosugi Maru', sans-serif;
}

.comment-form {
  margin-bottom: 40px;
  font-family: 'Kosugi Maru', sans-serif;
}

.form-group {
  font-family: 'Kosugi Maru', sans-serif;
}

.form-group:last-child {
  margin-bottom: 30px;
}