<!-- 非ログイン時のナビゲーションの表示 -->
<li>
  <%= link_to '', trains_path, class: 'fas fa-folder nav-link text-white' %>
</li>
<li>
  <%= link_to '', new_user_registration_path, method: :get, class: 'fas fa-user-plus nav-link text-white' %>
</li>
<li>
  <%= link_to '', new_user_session_path, method: :get, class: 'fas fa-sign-in-alt nav-link text-white' %>
</li>